html,
#trade {
  font-family: arial;
  font-size: 12px;
  background: #ccc; }
  html .wrap,
  #trade .wrap {
    background: #FFF; }
  html .header,
  #trade .header {
    text-align: center;
    background: #ccc;
    color: blue; }
    html .header .wrap,
    #trade .header .wrap {
      padding: 20px; }
    html .header #logo a,
    #trade .header #logo a {
      color: blue;
      font-weight: bold;
      border: 2px solid blue;
      border-left: none;
      border-right: none;
      padding: 0.25em 0; }
    html .header .tagline,
    #trade .header .tagline {
      font-size: 12px;
      text-transform: uppercase;
      margin: 0; }
    html .header #menu-main li a,
    #trade .header #menu-main li a {
      color: #000;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold; }
  html a, html a:hover, html a:focus, html a:visited:hover, html a:visited:focus,
  #trade a,
  #trade a:hover,
  #trade a:focus,
  #trade a:visited:hover,
  #trade a:visited:focus {
    color: blue; }

/* top carousel thing */
.main-carousel {
  margin: 0 0 3em 0;
  border: 1px solid #000; }
  .main-carousel .business-pod {
    width: 100%;
    height: auto;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center; }
    .main-carousel .business-pod img {
      width: 100%; }
    .main-carousel .business-pod a {
      font-size: 16px;
      display: block;
      padding: 10px; }

/* Search Bar */
.search-container {
  background: #000;
  max-width: none;
  width: 100%;
  padding: 20px;
  margin-bottom: 2em; }
  .search-container h3 {
    color: #FFF;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.01em; }
  .search-container form {
    margin: 0 auto;
    width: 80%; }
    .search-container form .columns:first-child {
      width: 35%; }
    .search-container form .columns:nth-child(2n) {
      width: 15%; }
    .search-container form .columns:nth-child(3n) {
      width: 35%; }
    .search-container form .columns:last-child {
      width: 15%; }
    .search-container form .columns {
      margin: 0;
      position: relative; }
    .search-container form input,
    .search-container form select {
      font-family: arial;
      font-size: 16px;
      border-radius: 0;
      margin-bottom: 0; }
    .search-container form input[type="submit"] {
      background: blue;
      border: none;
      padding: 0;
      color: #FFF; }
      .search-container form input[type="submit"]:hover {
        background: white;
        color: blue; }
    .search-container form select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      border-right: 1px solid #000; }

/* content area */
html #trade .standard-content p {
  font-size: 16px; }

/* Services container */
html #trade .hentry {
  border: none;
  color: #000; }
html #trade .services-container {
  width: 100%;
  max-width: none; }
  html #trade .services-container h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000; }
  html #trade .services-container .columns {
    margin: 0 1.25%; }
    html #trade .services-container .columns .content {
      border: 1px solid #000;
      margin-bottom: 2em; }
      html #trade .services-container .columns .content img {
        margin: 0; }
      html #trade .services-container .columns .content p {
        text-align: center;
        padding: 10px;
        margin-top: -5px;
        margin-bottom: 0; }
        html #trade .services-container .columns .content p a {
          color: #000; }

#trade .footer {
  background: #000;
  color: white;
  padding-top: 20px; }
  #trade .footer .footer-links {
    float: right; }
    #trade .footer .footer-links .nav li a {
      padding: 0;
      color: white; }
  #trade .footer .wrap {
    background: #000; }

/* Contact [page */
.hentry .wpcf7-form {
  width: 80%; }
  .hentry .wpcf7-form input,
  .hentry .wpcf7-form textarea {
    border: 1px solid #000;
    background: none;
    max-width: none; }
  .hentry .wpcf7-form input[type="submit"] {
    background: blue;
    color: #FFF;
    border: none; }
.hentry .right-content {
  font-size: 30px; }

/*# sourceMappingURL=ontrend.css.map */
